<div class="main">
            <main class="col-md-1 ms-sm-auto col-lg-1 justify-content-center main">
                <!-- Change Password Form Inside Card -->
                <div class="card mt-1 justify-content-center" style="width:fit-content;margin-left:30%;">
                    <div class="card-body text-center" style="width:min-content;">
                        <h2 class="card-title">Book Hall</h2>
                        <!-- Add a form here for changing the password -->
                        <form action="/book" method="post">
                            <% if @name %>
                            <h5>Booking for Hall: <%= @name %></h5>
                            <% end %>
                            <% if @loc %>
                            <h5>Location: <%= @loc %></h5>
                            
                            <% end %>
                            
                            <br>
                            <div class="form-group text-left">
                                <label for="new-password">Date</label><span style="color:red;">*</span>
                                <input type="Date" class="form-control" id="new-password" name ="date" required>
                            </div>
                            <br>
                            <div class="form-group text-left">
                                <label for="confirm-new-password">Start Time</label><span style="color:red;">*</span>
                                <input type="time" class="form-control" id="confirm-new-password" name="startTime" required>
                            </div>
                            <br>
                            <div class="form-group text-left">
                                <label for="confirm-new-password">End Time</label><span style="color:red;">*</span>
                                <input type="time" class="form-control" id="confirm-new-password" name="endTime" required>
                            </div>
                            <br>
                            <div class="form-group text-left">
                                <label for="confirm-new-password" >Reason</label><span style="color:red;">*</span>
                                <br>
                                <textarea name="reason" id="" cols="56" rows="3" required></textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Request</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>