<nav class="navbar navbar-light" style="background-color: #34bdeb;  ">
  <a class="navbar-brand" href="#">
      <div style="display: flex; align-items: center; flex-direction: row;">
          <!-- <img src="Assets/nitc_logo.png" width="90" height="90" class="d-inline-block align-top" alt="logo"> -->
          <img src="https://nitc.ac.in/xc-assets/logo/nitc_logo_icon.svg" width="90" height="90" class="d-inline-block align-top" alt="logo">
      </div>
  </a>
  <span style="font-size: 36px;margin-right:45%;text-align: center; font-family:'Poppins', sans-serif;">NITCeys</span>   
  </nav>